/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-size: var(--main-content-text-size);
  font-family: var( --font-family);
  background-color: var(--bg-color-all);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} 

.header {
  position: relative;
  block-size: max(668px, 100vh);
  display: grid;
  padding: 20px 20px 20px 0;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

@media (375px <= width < 768px) , (width < 375px ) , (width < 375px) {
  .header {
    padding: 10px;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: 20px;
  inset-block-start: 20px;
  border-inline-end: 1px solid var(--decorated-zone-item);
  border-block-start: 1px solid var(--decorated-zone-item);
}

@media (375px <= width < 768px) , (width < 375px) {
  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: 20px;
  inset-block-end: 20px;
  border-inline-start: 1px solid var(--decorated-zone-item);
  border-block-end: 1px solid var(--decorated-zone-item);
}

@media (375px <= width < 768px) , (width < 375p) {
  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }
}

.header__theme-menu {
  grid-column: 2;
}

@media (375px <= width < 768px) , (width < 375px) , (768px <= width < 1024px ) {
  .header__theme-menu {
    grid-column: 3;
    justify-self: end;
    align-self: center;
  }
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  margin-inline-start: 20px;
}

@media (375px <= width < 768px) , (width < 375px) , (768px <= width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }
}

.header__theme-menu-item {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: var(--button-text-color);
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid  var(--button-color-active);
}

.header__theme-menu-button:hover {
  outline: 1px solid  var(--button-color-hover);
  outline-offset: 1px;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color-focus);
}

.decorated-icon {
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 48px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 139%;
  color: var(--decorated-zone-item);
  display: var(--decorated-icon-visibility);
}

@media (375px <= width < 768px) , (width < 375px) {
  .decorated-icon {
    inset-block-start: 10px;
    inset-inline-end: 38px;
  }
}

.decorated-icon::after {
  content: "";
  position: absolute;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 100%;
  background-color: var(--decorated-zone-item);
  box-shadow: 0 0 4px 2px currentColor;
  margin: 9px;
}

.header__title {
  grid-row: 2;
  grid-column: 1/4;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var( --header-desctop);
  line-height: 83%;
  color: var(--titles-color);
  text-shadow: 4px 4px 0 var(--titles-shadow-color);
}

@media (375px <= width < 768px) , (width < 375px) {
  .header__title {
    font-size: var(--header-mobile);
  }
}

.header__title-paragraph {
  font-size: var(--main-content-text-size);
  grid-row: 3;
  grid-column: 2/4;
  justify-self: end;
  align-self: center;
  max-inline-size: min(491px, 100%);
}

@media (768px <= width < 1024px) {
  .header__title-paragraph {
    max-inline-size: min(364px, 100%);
  }
}

@media (375px <= width < 768px) , (width < 375px) {
  .header__title-paragraph {
    grid-column: 1/4;
    max-inline-size: max(355px, 100%);
  }
}

.title-decor {
  background-color: var(--bg-text-color);
  font-weight: 700;
  font-size: var(--main-content-text-size);
  color: var(--main-content-sub-titles-color);
  line-height: 130%;
}

.content {
  display: grid;
  padding: 60px 20px;
  gap: 80px;
}

@media (375px <= width < 768px) , (width < 375px) {
  .content {
    padding: 40px 10px;
    gap: 50px;
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (768px <= width < 1024px) {
  .section {
    grid-template-columns: min(236px, 100%) 1fr;
  }
}

@media (375px <= width < 768px) , (width < 375px) {
  .section {
    grid-template-columns: max(355px, 100%);
  }
}

.section-main-title {
  grid-column: 1;
  font-size: var(--main-content-text-size);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 130%;
  color: var(--main-content-titles-color);
}

.section-how-list {
  grid-column: 2/4;
  display: grid;
  gap: 20px;
  grid-template-columns: max(649px, 100%);
}

@media (768px <= width < 1024px) {
  .section-how-list {
    grid-template-columns: max(472px, 100%);
  }
}

@media (375px <= width < 768px) , (width < 375px) {
  .section-how-list {
    grid-template-columns: max(355px, 100%);
    grid-column: 1;
  }
}

.section-how .list-item-title {
  grid-row: 1;
  grid-column: 1;
  align-self: start;
}

.section-how .section-list {
  grid-row: 2;
  grid-column: 1;
}

@media (375px <= width < 768px) , (width < 375px) {
  .section-how .section-list {
    grid-column: 1;
  }
}

.section-list {
  display: grid;
  grid-column: 2/4;
  gap: 20px;
}

@media (768px <= width < 1024px) {
  .section-list {
    grid-column: 2;
  }
}

@media (375px <= width < 768px) , (width < 375px) {
  .section-list {
    grid-column: 1;
  }
}

.section-list-item {
  display: grid;
  gap: 10px;
}

.section-what {
  grid-template-rows: repeat(2, min-content);
}

@media (768px <= width < 1024px) {
  .section-what {
    grid-template-columns: min(236px, 100%) 1fr;
  }
}

.section-what .section-list {
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2 ;
  grid-column: 1/4;
  align-items: start;
}

@media (768px <= width < 1024px) {
  .section-what .section-list {
    grid-template-columns: max(728px, 100%);
    grid-column: 1/3;
  }
}

@media (375px <= width < 768px) , (width < 375px) {
  .section-what .section-list {
    grid-template-columns: max(355px, 100%);
    grid-column: 1;
  }
}

.list-item-description {
  font-size: var(--main-content-text-size);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 130%;
  color: var(--main-content-text-color);
}

.item-description-link {
   text-decoration: none;
   text-shadow: 2px 2px 0 var(--lint-shadow-color);
}

.item-description-link:hover {
  border-bottom: 1px solid var(--link-color-hover) ;
}

.item-description-link:focus {
  outline: none;
}

.item-description-link:focus-visible {
  outline: 1px solid var(--link-color-focus);
  outline-offset: -2px;
}

.list-item-sub-title {
  font-weight: 400;
}

.section-gallery {
  grid-template-rows: repeat(2, min-content);
}

@media (375px <= width < 768px) , (width < 375px) {
  .section-gallery {
    grid-template-columns: max(355px, 100%);
    gap: 10px;
  }
}
 
.section-gallery  .list-item-title {
  grid-column: 1/4;
}

@media (375px <= width < 768px) , (width < 375px) {
  .section-gallery .list-item-title {
    grid-column: 1;
  }
}

.section-gallery-picture {
  grid-column: 1/4;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media (375px <= width < 768px) , (width < 375px) {
  .section-gallery-picture {
    grid-column: 1;
    grid-template-columns: max(355px, 100%);
    gap: 10px;
  }
}

.gallery-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-item-sunset {
  grid-column: 1/3;
  grid-row: 1;
}

@media (375px <= width < 768px) , (width < 375px) {
  .gallery-item-sunset {
    grid-column: 1;
    grid-row: 1;
  }
}

.gallery-item-ice-cream {
  grid-column: 3;
  grid-row: 1/3;
}

@media (375px <= width < 768px) , (width < 375px) {
  .gallery-item-ice-cream {
    grid-column: 1;
    grid-row: 2;
  }
}

.gallery-item-tape {
  grid-column: 1;
  grid-row: 2/4;
}

@media (375px <= width < 768px) , (width < 375px) {
  .gallery-item-tape {
    grid-column: 1;
    grid-row: 3;
  }
}

.gallery-item-books {
  grid-column: 2;
  grid-row: 2;
}

@media (375px <= width < 768px) , (width < 375px) {
  .gallery-item-books {
    grid-column: 1;
    grid-row: 4;
  }
}

.gallery-item-street {
  grid-column: 2/4;
  grid-row: 3;
}

@media (375px <= width < 768px) , (width < 375px) {
  .gallery-item-street {
    grid-column: 1;
    grid-row: 5;
  }
}

.footer {
  position: relative;
  block-size: max(668px, 100vh);
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr min-content 1fr;
}

@media (375px <= width < 768px) , (width < 375px) {
  .footer {
    padding: 10px;
  }
}

.footer__title {
  grid-column: 2;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--header-desctop);
  line-height: 83%;
  color: var(--titles-color);
  text-shadow: 2px 2px 0 var(--titles-shadow-color);
  align-self: center;
  justify-self: center;
  
}

@media (375px <= width < 768px) , (width < 375px) {
  .footer__title {
    grid-column: 1/4;
    font-size: var(--header-mobile);
  }
}
 